@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  background-image: url(https://media1.giphy.com/media/FlodpfQUBSp20/giphy.gif?cid=ecf05e47b3l87hcw55jxr9abu5wktmt4i8hqpjgpr4no7gsa&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  
  color:white;
}